@{
    ViewData["Title"] = "用户管理";
}
<h4 id="ProcInfo" style="text-align: center; text-decoration-style: double; color: red;"></h4>
<br>
<div class="container">
    <div class="container">
        <div class="col-lg-1 col-sm-2 col-md-2 col-xs-4"><img id="UserHImg" src="Backgrounds/404-1.jpg" width="64" height="64" alt="" /></div>
        <label>当前登陆用户</label>
        <label id="CUserRName">加载中...</label>
        <br>
        <label>微信账号</label>
        <label id="CUserWCharID">加载中...</label>
    </div>


    <div class="container">
        <label>绑定当前的微信号</label>
        <br>
        @Model.Password
        <div class="container">
            <p id="bongdingInfo">(绑定后可以使用微信登录)</p>
            <button type="button" id="bongdingWCBtn" class="btn btn-sm btn-default" onclick="JumpToWeChatLogin('bonding');">绑定当前微信号</button>
            <button type="button" id="UbongdingWCBtn" class="btn btn-sm btn-danger" onclick="UBondingCheck();" style="display: none">解绑微信号</button>
        </div>
    </div>
    <hr>
    <div class="container">
        <label>添加密码</label>
        <br>
        <div class="container">
            <p id="ChangPsWdLabel" style="margin-bottom: 5px">
                点击按钮修改密码：
                <button type="button" class="btn btn-sm btn-default" id="ChangePsBtn">添加密码</button>
            </p>
            <div id="NewPs" class="text-center" style="display: none">
                <input class="TxBox" style="display: block;" value="" id="NPsW1" type="password" placeholder="输入新密码" />
                <input class="TxBox" style="display: block;" value="" id="NPsW2" type="password" placeholder="再次输入新密码" />
                <button type="button" class="btn btn-sm btn-default" style="margin-top: 8px; width: 60%" onclick="DoChangePsWd();">提交</button>
            </div>
        </div>
    </div>
    <hr>
</div>
<script>
    function DoChangePsWd()
    {
        WriteUserData()
    }
</script>
