@{
    ViewData["Title"] = "登陆";
}
<script>
    $("#navBar01").remove();
    $("#navBar01_btn").remove();
</script>
<div class="container text-center">
    <p>喂……</p>
    <p>怎么登陆失败了？</p>
    <div class="container">
        <button class="btn btn-danger" onclick="location.href = '/'">尝试重新登陆</button>
    </div>
</div>