@model WBPlatform.TableObject.UserObject
<div class="container">
    @{
        bool isRegister = ViewData["mode"].ToString().ToLower() == "register";
        if (isRegister)
        {
            ViewData["Title"] = "用户注册";
            <h3>用户注册</h3>
            <h5>请填写真实信息，注册成功后即可使用</h5>
        }
        else
        {
            ViewData["Title"] = "添加密码";
            <h3>添加密码</h3>
            <h5>添加密码后，即可使用 Windows 客户端</h5>
        }
    }
    <hr />
    <form action="/api/users/Register" method="post">
        <input for="mode" class="form-control hidden" value="@ViewData["mode"].ToString()" />
        <input asp-for="UserName" class="disabled hidden" readonly value="@ViewData["UserName"].ToString()" />

        @if (isRegister)
        {
            <div class="container" id="registerBlocks">
                <div class="form-group">
                    <label class="control-label">姓名</label>
                    <input asp-for="RealName" class="form-control TxBox" />
                    <span asp-validation-for="RealName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">性别(M=♂&nbsp;&nbsp;F=♀)</label>
                    <select asp-for="Sex" class="form-control">
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">手机号码</label>
                    <input asp-for="PhoneNumber" class="form-control TxBox" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="container" id="addPasswordBlocks">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="container form-group">
            @if (isRegister)
            {
                <label>请注明班级，和其他有助于审核的信息</label>
                <input type="text" class="TxBox" asp-for="table" />
            }
        </div>
        <div class="form-group center-margin">
            <input type="reset" style="width:40%" value="清空" class="btn btn-sm btn-danger" />
            <input type="submit" style="width:40%" value="提交" class="btn btn-sm btn-success" />
        </div>
    </form>
</div>
<script>
    var reg = /^1[34578][0-9]{9}$/;
    removeOtherOperations();
    function verifyMsg() {
        $("#phoneVeryf").text(reg.test($("#phone").val()) ? "" : "请输入正确的手机号码!");
    }
</script>