@model WBPlatform.TableObject.UserObject
@{
    bool isRegister = ViewData["mode"].ToString().ToLower() == "register";
    if (isRegister)
    {
        ViewData["Title"] = "用户注册";
    }
    else
    {
        ViewData["Title"] = "添加密码";
    }
}

<h2>Register</h2>

<h4>UserObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/api/users/Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="_type" class="form-control hidden" value="@ViewData["mode"].ToString()" />
            <label asp-for="UserName" class="control-label hidden">@ViewData["UserName"].ToString()</label>
            <input asp-for="UserName" class="form-control" />
            <input asp-for="objectId" class="form-control" value="" />

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (isRegister)
            {
                <div class="form-group">
                    <label asp-for="RealName" class="control-label"></label>
                    <input asp-for="RealName" class="form-control" />
                    <span asp-validation-for="RealName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sex" class="control-label"></label>
                    <input asp-for="Sex" class="form-control" />
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HeadImagePath" class="control-label"></label>
                    <input asp-for="HeadImagePath" class="form-control" />
                    <span asp-validation-for="HeadImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default btn-success" />
                </div>
            }
        </form>
    </div>
</div>
<script>
    var reg = /^1[34578][0-9]{9}$/;
    function verifyMsg() {
        $("#phoneVeryf").text(reg.test($("#phone").val()) ? "" : "请输入正确的手机号码!");
    }
</script>