@{
    ViewData["Title"] = "重新登陆";
}
<script>
    $("#navBar01").remove();
    $("#navBar01_btn").remove();
</script>
<div class="container text-center">
    <p>用户会话超时</p>
    <p>请重新登陆.......</p>
    <div class="container">
        <button class="btn btn-danger" onclick="location.href = '/'">尝试重新登陆</button>
    </div>
</div>