.BodyStyle {
	background-image: url(../Backgrounds/back3.jpg);
	background-position: center;
}
body {
	margin-bottom: 50px;
}
.pop-box {
	z-index: 9999;
	margin-bottom: 3px;
	border-radius: 5px;
	background-color: #fefefe;
	border: solid 5px #e7e7e7;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.pop-box h1 {
	color: #777;
	cursor: default;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 2px;
}
.xnav {
    width:100%;
    height:auto;
    margin:0 auto;
    position:fixed;
    bottom:0;
    text-align:center;
}
.pop-box-body {
	clear: both;
	margin: 4px;
	padding: 2px;
}
.center-all {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center-margin {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.TxBox {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.TxBox:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.TxBox:disabled {
	color: black;
	background-color: darkgrey;
	border-color: black;
}
.GWhite {
	color: ghostwhite;
}

.pop-box {
	
}
