@{
    ViewData["Title"] = "校车管理";
}
<div class="container">
    <div class="container">

        <div class="col-lg-1 col-sm-2 col-xs-4 col-lg-offset-0"><img id="UserHImg" src="#" width="64" height="64" alt="" /></div>
        <div class="col-lg-offset-0 col-lg-3">
            <h4 id="UserID">加载中...</h4>
            <h5 id="BusDirection">我的校车: 加载中...</h5>
        </div>
    </div>
    <hr />
    <div class="container">
        <p id="ExpNumber">校车总人数: 加载中...</p>
        <p id="LSChecked">离校上车人数: 加载中...</p>
        <p id="AHChecked">到家确认人数: 加载中...</p>
        <p id="CSChecked">返校上车人数: 加载中...</p>
        <hr />
    </div>

    <!--This is Function Choosing Part-->
    <h5 class="container">请选择功能：</h5>
    <div class="center-all">
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-success center-all" style="width: 100%" onClick="SignStudents('LS');">离校签到</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-info btn-md center-all" style="width: 100%" onClick="location.href='/BusManager/ArriveHomeScan'">到家确认扫码</button>
        </div>
    </div>
    <br />
    <br />
    <div class="center-all">
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-warning center-all" style="width: 100%" onClick="SignStudents('CS');">返校签到</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-danger btn-md center-all" style="width: 100%" onClick="SignStudents('CD');">修改数据</button>
        </div>
    </div><br />

</div>

<script>
    {
        var currentBus;
        var CurrentUser = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cUser"])"));

        $("#UserID").text("你好，" + CurrentUser.RealName);
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + CurrentUser.HeadImagePath);

        GetMgmtBus(CurrentUser.userID, getCookie("Session"), BusCallBack);

        function BusCallBack(data)
        {
            currentBus = data;
            setCookie("CBusID", currentBus.busID);
            $("#BusDirection").text("我的校车: " + currentBus.Name);
            $("#ExpNumber").text("校车总人数: " + currentBus.Total + "人");
            $("#LSChecked").text("离校上车人数: " + currentBus.LSChecked + "人");
            $("#AHChecked").text("到家确认人数: " + currentBus.AHChecked + "人");
            $("#CSChecked").text("返校上车人数: " + currentBus.CSChecked + "人");
        }

        function SignStudents(Mode)
        {
            setCookie("SignMode", Mode);
            location.href = "/BusManager/SignStudent/?signmode=" + Mode;
        }

        wx.ready(function () { wx.hideOptionMenu(); });
    }
</script>
