@{
    ViewData["Title"] = "突发问题";
}
<div class="container">
    <div class="container row">
        <div class="col col-auto">
            <img id="UserHImg" src="#" width="64" height="64" alt="" />
        </div>
        <div class="col">
            <h5 id="UserID">加载中...</h5>
            <h6 id="BusDirection"></h6>
        </div>
    </div>
    <hr>
    <div class="container">
        <p>汇报：</p>
        <select id="selection" class="form-control">
            @foreach (var item in Enum.GetValues(typeof(BusReportTypeE)))
            {
                <option>@item</option>
            }
        </select>
        <br>
        <p>请尽量详细的说明情况</p>
        <textarea class="form-text form-control" id="content"></textarea>
        <br>
        <button class="btn btn-success btn-sm full-width" id="NewRptBtn" onClick="NewReport();">提交</button>
    </div>
</div>
<script>
    {
        var currentBus;
        var CurrentUser = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cUser"])"));
        GetMgmtBus(CurrentUser.userID, getCookie("Session"), BusCallBack);

        $("#UserID").text("你好，" + CurrentUser.RealName);
        $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + CurrentUser.HeadImagePath);

        function BusCallBack(data) {
            currentBus = data;
            $("#BusDirection").text("我的校车: " + currentBus.Name);
        }
        
        function NewCallBack(data) {
            if (data === false)
                return;
            $("#NewRptBtn").removeAttr("disabled");
            $("#NewRptBtn").text("提交成功");
            alert("提交成功，马上返回主页！");
            location.href = "/";
            p = data;
        }

        function NewReport() {
            $("#NewRptBtn").attr("disabled", "");
            var TypeX = $("#selection")[0].selectedIndex;

            UserNewReport(CurrentUser.userID, currentBus.BusID, TypeX, $("#content").val(), NewCallBack);
        }
    }
</script>
