body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div {
    line-height: normal;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

label {
    font-weight: bold;
    font-size: small;
}

body {
    background-image: url(/Backgrounds/back3.jpg);
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.full-width {
    width: 100%
}
.half-width{
    width: 50%
}
.text-underline {
    text-decoration: underline
}

.pop-box {
    z-index: 9999;
    margin-bottom: 3px;
    border-radius: 5px;
    background-color: #fefefe;
    border: solid 5px #e7e7e7;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

    .pop-box h1 {
        color: #777;
        cursor: default;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 2px;
    }

.xnav {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.choose-square {
    border: solid, 50px, thick, black;
    margin: 10px;
}

.pop-box-body {
    clear: both;
    margin: 4px;
    padding: 2px;
}

.center-all
.center-margin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
}

.TxBox {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .TxBox:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .TxBox:disabled {
        color: black;
        background-color: darkgrey;
        border-color: black;
    }

.grey-color {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1);
}
