@model WBServicePlatform.TableObject.UserObject

@{
    ViewData["Title"] = "用户注册";
}

<h2>Register</h2>

<h4>UserObject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/api/users/Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">@ViewData["wechatID"]</label>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealName" class="control-label"></label>
                <input asp-for="RealName" class="form-control"/>
                <span asp-validation-for="RealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control"/>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="WeChatID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HeadImagePath" class="control-label"></label>
                <input asp-for="HeadImagePath" class="form-control" />
                <span asp-validation-for="HeadImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_type" class="control-label"></label>
                <input asp-for="_type" class="form-control" />
                <span asp-validation-for="_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objectId" class="control-label"></label>
                <input asp-for="objectId" class="form-control" />
                <span asp-validation-for="objectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var reg = /^1[34578][0-9]{9}$/;
    function verifyMsg()
    {
        $("#phoneVeryf").text(reg.test($("#phone").val()) ? "" : "请输入正确的手机号码!");
    }
</script>