@{
    ViewData["Title"] = "学生签到";
}
<div class="container">
    <div class="container">
        <div class="col-lg-1 col-sm-2 col-xs-5 col-lg-offset-0"><img id="UserHImg" src="/Backgrounds/404err.gif" width="64" height="64" alt="" /></div>
        <div class="col-lg-offset-0 col-lg-3">
            <h4 id="UserID">加载中...</h4>
            <h5 id="BusDirection">我的校车: 加载中...</h5>
        </div>
    </div>
    <br>
    <div class="container">
        <p id="ExpNumber">校车总人数: 加载中...</p>
        <p id="AHChecked">到家确认人数: 加载中...</p>
    </div>
    <div class="text-center container">
        <button id="GenCode" hidden class="btn btn-md btn-success hidden" onclick="GenCode()">生成签到二维码</button>
        <hr>
    </div>
    <div class="text-center">
        <img id="Code" class="text-center" alt="Scanning Code" style="border: dotted 2px black; width:60%;" src="#" />
    </div>
</div>
<script>
    var CurrentUser = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cUser"])"));
    var CurrentBus;
    GetMgmtBus(CurrentUser.userID, CurrentUser.BusID, getCookie("Session"), BusCallBack);
    function BusCallBack(data)
    {
        CurrentBus = data;
        setCookie("CBusID", CurrentBus.BusID);
        $("#ExpNumber").text("校车总人数: " + CurrentBus.Total);
        $("#AHChecked").text("到家确认人数: " + CurrentBus.AHChecked);
        $("#BusDirection").text("我的校车: " + CurrentBus.Name);
        $("#GenCode").removeClass("hidden");
    }

    document.getElementById("navUsrName").innerHTML = "注销当前账户  -  " + CurrentUser.RealName;

    document.getElementById("UserID").innerHTML = "你好，" + CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + CurrentUser.HeadImagePath);
    function GenCode()
    {
        $("#Code").prop("src", location.protocol + "//" + location.host + "/api/QRCode?Data=" + CurrentBus.BusID + ";" + CurrentUser.userID);
    }
</script>