@{
    ViewData["Title"] = "学生信息";
}
<div class="container">
    <div class="container">
        <div class="col-lg-1 col-sm-2 col-xs-5 col-lg-offset-0">
            <img id="UserHImg" src="/Backgrounds/404err.gif" width="64" height="64" alt="" />
        </div>
        <div class="col-lg-offset-0 col-lg-3">
            <h4 id="UserID">加载中...</h4>
            <h5 id="BusDirection">学生姓名: 加载中...</h5>
        </div>
    </div>
    <br>
    <div class="container">
        <p id="ExpNumber">校车总人数: 加载中...</p>
        <p id="LSChecked">离校签到人数: 加载中...</p>
        <p id="AHChecked">到家确认人数: 加载中...</p>
        <p id="CSChecked">返校签到人数: 加载中...</p>
    </div>
    <hr>
    <div id="Students"> </div>
</div>
<script>
    var CurrentUser = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cUser"])"));
    var StudentsBus = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cBus"])"));
    var CurrentStudent = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cStudent"])"));
    var CurrentClass = JSON.parse(decodeURI("@Uri.EscapeUriString((string)ViewData["cClass"])"));

    document.getElementById("navUsrName").innerHTML = "注销当前账户  -  " + CurrentUser.RealName;

    document.getElementById("UserID").innerHTML = "你好，" + CurrentUser.RealName;
    $("#UserHImg").prop("src", "https://res.lhy0403.top/WBUserHeadImg/" + CurrentUser.HeadImagePath);


</script>